/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background-color: #B5CB99;
}

.introduction
{
    padding-left: 100px;
    padding-top: 20px;
    color: #186F65;
    text-transform: uppercase;
    font-family: "Press Start 2P", system-ui;
    font-weight: 700;
}

p{
    padding-top: 40px;
    color: #B2533E;
    padding-right: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 60%; 
    margin: 0 auto; 
    text-align: justify; 
    font-size: 18px; 
    line-height: 1.6; 
}

.lt-gt
{
    color: #B2533E;
    font-family: "Press Start 2P", system-ui;
}

.menu-container {
    background-color: #B5CB99; 
    padding: 20px 0; 
}

/* menú de navegación */
nav ul {
    display: flex;
    justify-content: center;
    background-color: #186F65; 
    padding: 20px;
    list-style: none;
    border-radius: 30px; 
    width: fit-content; 
    margin: 0 auto;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    font-family: "Press Start 2P", system-ui;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
}

nav ul li a:hover {
    border: 2px solid white;
}

/* Sección amarilla */
.highlight-section {
    background-color: #f3d781; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-height: 60vh;
    position: relative;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Fondo animado */
.lyrics-background {
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
    position: absolute;;
    top: -50px;
    left: 0;
    width: 100%; 
    padding: 20px;
    line-height: 1.5;
    color: rgb(219, 193, 115); 
    z-index: 1; 
    white-space: pre-wrap;
    word-wrap: break-word;
}

.image-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
    /* justify-content: center; */
}

/* Foto Silvia */
.hero-image {
    padding-top: 70px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 0;
    z-index: 2;
}

/* Cuadro de código */
.code-snippet {
    width: 35%;
    position: absolute;
    bottom: 20px; 
    left: 65%;
    bottom: 20%;
    transform: translateX(-50%);
    z-index: 2;
}

/* Post sección amarilla */
.main-section {
    background-color: #B5CB99; 
    min-height: 40vh; 
    padding: 40px 0;
}
